framework: auto-detect

source https://nuget.org/api/v2
content: none

nuget Serilog
nuget Serilog.Sinks.Console
nuget Microsoft.AnalysisServices.retail.amd64
nuget Newtonsoft.Json
nuget PowerArgs  < 3.0.0  // 3.x requires netstandard 2.0 (4.6.1+)
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget System.ValueTuple
nuget Polly
nuget StreamJsonRpc
nuget Costura.Fody


group Build
  content: none
  #framework >= net461
  source https://nuget.org/api/v2
  #source https://ci.appveyor.com/nuget/fsharp-formatting
  
  nuget FAKE
  #nuget FSharp.Formatting prerelease
  #nuget ILRepack
  
  github fsharp/FAKE modules/Octokit/Octokit.fsx
  