framework: auto-detect

source https://www.nuget.org/api/v2

nuget Serilog
nuget Serilog.Sinks.Console
nuget Microsoft.AnalysisServices.retail.amd64
nuget Newtonsoft.Json
nuget PowerArgs  < 3.0.0  // 3.x requires netstandard 2.0 (4.6.1+)
nuget xunit
nuget xunit.runner.visualstudio
nuget Moq
nuget System.ValueTuple