version 6.2.1

group Main
  source https://api.nuget.org/v3/index.json
  framework: net472,net6.0
  storage: none
  content: none

  nuget Serilog
  nuget Serilog.Sinks.Console
  nuget Newtonsoft.Json
  nuget CsvHelper
  nuget PowerArgs
  nuget Moq
  nuget System.ValueTuple
  nuget Polly
  nuget Castle.Core
  nuget Costura.Fody copy_local: true
  nuget Fody
  nuget System.IO.Compression
  nuget HtmlAgilityPack
  nuget PInvoke.Msi
  nuget PeNet
  nuget CommandLineParser
  nuget WildcardMatch
  nuget Microsoft.AnalysisServices.retail.amd64 framework: net472
  nuget Microsoft.AnalysisServices.AdomdClient.retail.amd64 framework: net472
  nuget Microsoft.AnalysisServices.NetCore.retail.amd64 framework: net6.0
  nuget Microsoft.AnalysisServices.AdomdClient.NetCore.retail.amd64 framework: net6.0
  nuget System.IO.Packaging
  nuget Microsoft.Identity.Client
  nuget Microsoft.PowerBI.Api
  nuget Microsoft.NETCore.Platforms
  nuget Microsoft.NETCore.Targets
  nuget LibGit2Sharp

group Tests
  source https://api.nuget.org/v3/index.json
  framework: net472
  storage: none
  content: none

  nuget xunit
  nuget xunit.runner.visualstudio
  nuget Microsoft.NET.Test.Sdk

group Tests-netcore
  source https://api.nuget.org/v3/index.json
  framework: net6.0
  storage: none
  content: none

  nuget xunit
  nuget xunit.runner.visualstudio
  nuget Microsoft.NET.Test.Sdk

# dependencies used for retrieving FAKE and its modules
group Fake-Build
  source https://api.nuget.org/v3/index.json
  framework: net6.0
  storage: none

  nuget Fake.Api.GitHub
  nuget Fake.BuildServer.TeamFoundation
  nuget Fake.Core.Environment
  nuget Fake.Core.Process
  nuget Fake.Core.ReleaseNotes
  nuget Fake.Core.Target
  nuget Fake.Core.Xml
  nuget Fake.DotNet.AssemblyInfoFile
  nuget Fake.DotNet.Cli
  nuget Fake.DotNet.MSBuild
  nuget Fake.Dotnet.NuGet
  nuget Fake.DotNet.Paket
  nuget Fake.DotNet.Testing.XUnit2
  nuget Fake.IO.FileSystem
  nuget Fake.IO.Zip

group Fake-Tools
  source https://api.nuget.org/v3/index.json
  storage: packages

  nuget xunit.runner.console

group DotNet-Tools
  source https://api.nuget.org/v3/index.json
  storage: none
  content: none

  nuget fake-cli prerelease
  nuget paket